[build]
  command = "npm install && npx prisma generate && npm run build"
  publish = "dist"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@prisma/client"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200
